@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi! i'm Hancer Mercede</h1>
    <p>Full Stack Developer focus on .NET and JS Frameworks.</p>

    <img id="foto" src="~/images/peakpx.jpg" alt="foto de hancer" />
</div>

<div id="main-welcome-section" class="row justify-content-center text-center">
    <div class="col col-md-7 welcome-section">
        <h1>Welcome to my portafolio</h1>
        <p>
            I have 5+ working as a software developer focus and modern .NET platform, using tecnologies like Entity Framework Core, Linq, Sql Server, ORACLE, C#, ASP.NET Core MVC, ASP.NET Core Web API, Blazor Wasm and Server
            , right now i'm focus on React and React Native too, to strengh my skills. Currently i'm working to big company that main sector is construction named Ferretería Ochoa, i've been working as freelancer since 2016,
            developing desktop apps, and helping companies to make another modules of their systems to performance their tasks.
        </p>
    </div>
</div>
<div class="custom-margin">
    <div class="row justify-content-md-center text-center skills">
        <div class="col col-3 bg-white Back-End">
            <h3>Back-End</h3>
            <p>
                Making the analysis, disigning the system, coding and publishing the apps.
            </p>
            <p class="text-primary Header">
                Stack:
            </p>
            <p class="text-dark">
                .NET 6, Sql Server, ORACLE
            </p>
            <p class="text-primary Header">
                Tecnologies
            </p>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>ASP.NET Core Web APIs</li>
                <li>ASP.NET Core Razor Pages</li>
                <li>Blazor</li>
                <li>Entity Framework</li>
                <li>Dapper</li>
                <li>NPoco</li>
            </ul>
        </div>
        <div class="col col-3 bg-white Front-End">
            <h3>Front-End</h3>
            <p>
                Building the UI, focus of the customers requirements.
            </p>
            <p class="text-primary Header">
                Stack:
            </p>
            <p class="text-dark">
                Blazor, React, Winforms, ORACLE Forms
            </p>
            <p class="text-primary Header">
                Tecnologies
            </p>
            <ul>
                <li>Blazor</li>
                <li>React</li>
                <li>ASP.NET Core Razor Pages</li>
                <li>Windows Forms (Winforms)</li>
                <li>ORACLE Forms</li>
                <li>CSS3</li>
                <li>HTML5</li>
                <li>Bootstrap5</li>
            </ul>
        </div>
    </div>
</div>